.vscode/

NNFS.pdf

plot.svg

NNFS_Diploma
NNFS_Diploma.exe
doctest.h
tests
tests_bin
tests.gcda
tests.gcno
*.exe
*.out

*.o
*.obj

*.so
*.dll
*.dylib

build/
cmake-build-*/

.DS_Store
Thumbs.db

*.log
